.date_this {
    font-size: 24pt;
    text-align: left;
    padding-top: 0;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 10pt;
}

#date_info_short {
    border: 0;
    border-bottom: 1pt dotted #333;
    background: inherit;
    color: inherit;
    font: inherit;
    padding-top: 5pt;
    margin-bottom: 5pt;
    width: 100%;
    min-height: 2em;
    font-size: 1.5em;
}

#date_info_full {
    border: 0;
    border-bottom: 1pt dotted #333;
    background: inherit;
    color: inherit;
    font: inherit;
    width: 100%;
    height: 80pt;
}
